<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col">
        <p><b><i>{{ site.description | escape }}</i></b></p>
        {%- include site-links.html -%}
      </div>
      <div class="footer-col">
        <p>
          &ldquo;Perhaps the sentiments contained in the following pages, are not yet sufficiently fashionable to procure them general favor; a long habit of not thinking a thing wrong, gives it a superficial appearance of being right, and raises at first a formidable outcry in defense of custom. But the tumult soon subsides.&rdquo; &mdash; Thomas Paine
        </p>
      </div>
      <div class="footer-col">
        <p>
          &ldquo;There can be no public or private virtue unless the foundation of action is the practice of truth.&rdquo; &mdash; George Jacob Holyoake
        </p>
      </div>
    </div>
  </div>
</footer>
